<template>
  <div class="drag-container" v-drag-and-drop:options="options" @dragstart="initTime" @drop="drop">
    <vue-draggable-group
        v-model="groups[0].items"
        :groups="groups"
        :data-id="groups[0].id"
        @change="onGroupsChange"
    >
      <ul class="drag-inner-list" :data-id="groups[0].id">
        <li class="drag-item custom-card" v-for="item in groups[0].items" :key="item.id" :data-id="item.id" :data-item="JSON.stringify(item)">
          <img :src="require('@/assets/'+item.img)" width="100px" height="100px" :data-id="item.id" :data-item="JSON.stringify(item)">
        </li>
      </ul>
    </vue-draggable-group>
    <p class="text-secondary text-15 my-5">...and drop them here to make the logo great <span style="color: #C9CDDC">again!</span></p>
    <ul class="drag-list">
      <li class="drag-column" v-for="group in groupsFiltered" :key="group.id">
        <vue-draggable-group
            v-model="group.items"
            :groups="groups"
            :data-id="group.id"
            @change="onGroupsChange"
        >
          <ul data-type="zone" class="drag-inner-list" :data-id="group.id" :data-group="group.id">
            <li class="drag-item" v-for="(item, idx) in group.items" :key="item.id" :data-id="item.id" :data-item="JSON.stringify(item)">
              <img v-if="group.items.length ===  1 || idx === 1" :src="require('@/assets/'+item.img)" width="100px" height="100px" :data-id="item.id" :data-item="JSON.stringify(item)">
            </li>
          </ul>
        </vue-draggable-group>
      </li>
    </ul>
  </div>
</template>

<script>
import {EventBus} from "@/EventBus";

export default {
  data() {
    return {
      timeHasInit: false,
      groups: [
        {
          id: 1,
          items: []
        },
        {
          id: 2,
          pos: 0,
          items: [

          ]
        },
        {
          id: 3,
          pos: 1,
          items: [

          ]
        },
        {
          id: 4,
          pos: 2,
          items: [

          ]
        },
        {
          id: 5,
          pos: 3,
          items: [

          ]
        },
        {
          id: 6,
          pos: 4,
          items: [

          ]
        },
      ],
      options: {
        dropzoneSelector: ".drag-inner-list",
        draggableSelector: ".drag-item"
      },
      lastPickedItem: null
    };
  },
  mounted() {
    this.shuffleImages()
    EventBus.$on('restoreGame',this.restoreGame)
  },
  methods: {
    initTime(e){
      if(e.target.dataset.item){
        this.lastPickedItem = JSON.parse(e.target.dataset.item)
      }
      if(!this.timeHasInit){
        this.$emit('initTime')
        this.timeHasInit = true;
      }
    },
    restoreGame(){
      this.groups = [
        {
          id: 1,
          items: []
        },
        {
          id: 2,
          pos: 0,
          items: [

          ]
        },
        {
          id: 3,
          pos: 1,
          items: [

          ]
        },
        {
          id: 4,
          pos: 2,
          items: [

          ]
        },
        {
          id: 5,
          pos: 3,
          items: [

          ]
        },
        {
          id: 6,
          pos: 4,
          items: [

          ]
        },
      ];
      this.timeHasInit = false;
      this.shuffleImages();
    },
    drop(e){
      let groupIdx = 1;
      if(e.target.dataset.group){
        //if enters here is because one of the cards was dropped in
        //one of the slots
        //VERIFY IF THE SLOT WAS EMPTY, IF NOT, RETURN CARD TO INITIAL POSITION
        groupIdx = this.groups.findIndex(item =>{
          return item.id === Number(e.target.dataset.group)
        })
      }
      if(e.target.dataset.item){
        groupIdx = this.groups.findIndex(group =>{
          let isThisGroup = false;
          for(let i = 0; i<group.items.length; i++){
            if(Number(group.items[i].id) === Number(JSON.parse(e.target.dataset.item).id)){
              isThisGroup = true;
            }
          }
          return isThisGroup;
        })
      }
      if(groupIdx > 1){
        if(this.groups[groupIdx].items.length > 0){
          console.log('she pashooooo')
          //if the number of items is greater than 1,
          //then we must take the last moved card and return it back to the initial state
          let vm = this;
          setTimeout(function (){
            vm.groups[groupIdx].items.splice(0,1);
            vm.groups[0].items.push(vm.lastPickedItem);
          },100)
        }
      }
    },
    onGroupsChange() {
      this.$nextTick(()=>{
        this.verifyUserWon()
      })
    },
    getImg(img){
      return img
    },
    verifyUserWon(){
      let userWon = true;
      let incorrectCard = false;
      for(let i = 1; i<this.groups.length; i++){
        if(this.groups[i].items.length > 0){
          //if the slot is non-empty
          if(this.groups[i].items[0].id !== 1 && this.groups[i].items[0].id !== 2) {
            //if the card is not an 'o' (ids 1 and 2)
            if (this.groups[i].items[0].id !== this.groups[i].pos) {
              //if the card is not placed in the correct position
              userWon = false;
              incorrectCard = true;
            }
          }else{
            //if the card is not an 'o'
            if(this.groups[i].pos !== 1 && this.groups[i].pos !== 2){
              userWon = false;
              incorrectCard = true;
            }
          }
        }else{
          //if the slot is empty
          //the user hasn't won yet
          userWon = false;
        }
      }
      if (incorrectCard){
        this.$bvToast.toast("INCORRECT CARD", {
          title: "+10 seconds",
          toaster: 'b-toaster-top-center',
          solid: false,
          appendToast: true,
          variant: "danger"
        })
        this.$emit('incorrectCard')
      }else{
        if(userWon){
          this.$emit('userWon')
        }
      }
    },
    shuffleImages(){
      let array = [
        {img:'zoovu-z.svg',pos:0},
        {img:'zoovu-o.svg',pos:1},
        {img:'zoovu-o.svg',pos:2},
        {img:'zoovu-v.svg',pos:3},
        {img:'zoovu-u.svg',pos:4},
      ];
      let currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      array.forEach((item)=>{
        this.groups[0].items.push({id: item.pos, img: item.img, groupId: 1 })
      })
    }
  },
  computed:{
    groupsFiltered(){
      return this.groups.filter((i)=>{
        return i.id > 1;
      })
    },
  },
};
</script>

<style lang="scss" scoped>
$ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-list {
  display: flex;
}

.drag-column {
  flex: 1;
  margin: 10px 10px;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='27' ry='27' stroke='%2300D2B4' stroke-width='4' stroke-dasharray='13' stroke-dashoffset='21' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 27px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}


.drag-inner-list {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-item {
  transition: $ease-out;
}

//STYLES WHITE CARDS
//white card area
.drag-inner-list[data-id="1"]{
  height: auto !important;
  min-height: 250px;
}

.custom-card {
  margin: 10px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  border-radius: 27px;
  background: rgba(black, 0.4);
  transition: $ease-out;

  &:hover{
    transform: scale(1.02);
    cursor: grab;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
  }

  &:focus{
    cursor: grabbing;
  }

  /* items grabbed state */
  &[aria-grabbed="true"] {
    background: #5cc1a6;
    color: #fff;
  }
}
</style>
